.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******************** Edit Audience *******************************/
.inventory-list,.languages-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
}

.languages-list li, .inventory-list li {
  background-color: #e0e0e0;
  color: #222;
  padding: 0px 10px;
  margin-right: 0.5rem;
  position: relative;
  border-radius: 1.5rem;
  cursor: pointer;
}

.inventory-list li:hover,
.languages-list li:hover {
  background-color: rgb(0, 110, 255);
  color: white;
}

.autocomplete{
  padding: 11px;
    border-radius: 31px;
    outline: none;
}
